<footer class="footer">
    <div class="container">
        <p class="pull-left">
            <a href="#" onClick="facebookShare()" class="navbar-link"><i class="fa fa-facebook fa-2x"></i></a>
        </p>
        <p class="pull-left">
            <a href="#" onClick="twitterShare()" class="navbar-link"><i class="fa fa-twitter fa-2x"></i></a>
        </p>
        <p class="pull-right">
            <a href="mailto:info@eurovisiontippning.se" target="_blank" class="navbar-link pull-right"><i class="fa fa-envelope fa-lg"></i></a>
        </p>
    </div>
</footer>
