{% load static %}

<div id="previous-contest-container">
    <div class="thumbnail">
        <div id="carousel-previous-contests" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-previous-contests" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-previous-contests" data-slide-to="1"></li>
                <li data-target="#carousel-previous-contests" data-slide-to="2"></li>
                <li data-target="#carousel-previous-contests" data-slide-to="3"></li>
                <li data-target="#carousel-previous-contests" data-slide-to="4"></li>
                <li data-target="#carousel-previous-contests" data-slide-to="5"></li>
                <li data-target="#carousel-previous-contests" data-slide-to="6"></li>
                <li data-target="#carousel-previous-contests" data-slide-to="7"></li>
                <li data-target="#carousel-previous-contests" data-slide-to="8"></li>
                <li data-target="#carousel-previous-contests" data-slide-to="9"></li>
                <li data-target="#carousel-previous-contests" data-slide-to="10"></li>
                <li data-target="#carousel-previous-contests" data-slide-to="11"></li>
                <li data-target="#carousel-previous-contests" data-slide-to="12"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active" data-winner-year="2019">
                    <img src="{% static 'images/logo2019.png' %}" alt="ESC2019">
                </div>
                <div class="item" data-winner-year="2018">
                    <img src="{% static 'images/logo2018.jpg' %}" alt="ESC2018">
                </div>
                <div class="item" data-winner-year="2017">
                    <img src="{% static 'images/logo2017.jpg' %}" alt="ESC2017">
                </div>
                <div class="item" data-winner-year="2016">
                    <img src="{% static 'images/logo2016.png' %}" alt="ESC2016">
                </div>
                <div class="item" data-winner-year="2015">
                    <img src="{% static 'images/logo2015.jpg' %}" alt="ESC2015">
                </div>
                <div class="item" data-winner-year="2014">
                    <img src="{% static 'images/logo2014.jpg' %}" alt="ESC2014">
                </div>
                <div class="item" data-winner-year="2013">
                    <img src="{% static 'images/logo2013.jpg' %}" alt="ESC2013">
                </div>
                <div class="item" data-winner-year="2012">
                    <img src="{% static 'images/logo2012.jpg' %}" alt="ESC2012">
                </div>
                <div class="item" data-winner-year="2011">
                    <img src="{% static 'images/logo2011.jpg' %}" alt="ESC2011">
                </div>
                <div class="item" data-winner-year="2010">
                    <img src="{% static 'images/logo2010.jpg' %}" alt="ESC2010">
                </div>
                <div class="item" data-winner-year="2009">
                    <img src="{% static 'images/logo2009.jpg' %}" alt="ESC2009">
                </div>
                <div class="item" data-winner-year="2008">
                    <img src="{% static 'images/logo2008.jpg' %}" alt="ESC2008">
                </div>
                <div class="item" data-winner-year="2007">
                    <img src="{% static 'images/logo2007.jpg' %}" alt="ESC2007">
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-previous-contests" role="button" data-slide="prev">
                <span class="icon-prev"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-previous-contests" role="button" data-slide="next">
                <span class="icon-next"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="caption">
            <div class="previous-year active" id="winner-year-2019">
                <h3>Bästa tippning 2019</h3>
                <p>Viktor Jonason - 262.3 poäng</p>
            </div>
            <div class="previous-year" id="winner-year-2018">
                <h3>Bästa tippning 2018</h3>
                <p><a title="Finn" href="https://www.facebook.com/finn.calander" target="_blank">Finn Calander</a> - 255.08 poäng</p>
            </div>
            <div class="previous-year" id="winner-year-2017">
                <h3>Bästa tippning 2017</h3>
                <em>Kommer snart</em>
            </div>
            <div class="previous-year" id="winner-year-2016">
                <h3>Bästa tippning 2016</h3>
                <em>Kommer snart</em>
            </div>
            <div class="previous-year" id="winner-year-2015">
                <h3>Bästa tippning 2015</h3>
                <em>Kommer snart</em>
            </div>
            <div class="previous-year" id="winner-year-2014">
                <h3>Bästa tippning 2014</h3>
                <p>Gunilla Stenninger - 268.14 poäng</p>
            </div>
            <div class="previous-year" id="winner-year-2013">
                <h3>Bästa tippning 2013</h3>
                <p>Fanny Alexandersson - 293.62 poäng</p>
            </div>
            <div class="previous-year" id="winner-year-2012">
                <h3>Bästa tippning 2012</h3>
                <p><a title="Susanna" href="https://www.facebook.com/profile.php?id=1272428534" target="_blank">Susanna Gustavsson</a> - 293.73 poäng</p>
            </div>
            <div class="previous-year" id="winner-year-2011">
                <h3>Bästa tippning 2011</h3>
                <p><a title="Henriks Facebook-profil" href="https://www.facebook.com/profile.php?id=549021935" target="_blank">Henrik Nordzell</a></p>
            </div>
            <div class="previous-year" id="winner-year-2010">
                <h3>Bästa tippning 2010</h3>
                <p><a title="Marias Facebook-profil" href="https://www.facebook.com/profile.php?id=565465973" target="_blank">Maria Karlsson</a></p>
            </div>
            <div class="previous-year" id="winner-year-2009">
                <h3>Bästa tippning 2009</h3>
                <p><a title="Jonatans Facebook-profil" href="https://www.facebook.com/jonatan.zethelius" target="_blank">Jonatan Zethelius</a></p>
            </div>
            <div class="previous-year" id="winner-year-2008">
                <h3>Bästa tippning 2008</h3>
                <p><a title="Marias Facebook-profil" href="https://www.facebook.com/profile.php?id=565465973" target="_blank">Maria Karlsson</a></p>
            </div>
            <div class="previous-year" id="winner-year-2007">
                <h3>Bästa tippning 2007</h3>
                <p><a title="Marias Facebook-profil" href="https://www.facebook.com/profile.php?id=565465973" target="_blank">Maria Karlsson</a></p>
            </div>
        </div>
    </div>
</div>

{% block footer_javascript_page %}
    <script>
        $('.carousel-control').click(function(){
            $(this).blur();
        });

        $('.carousel').carousel({
            interval: 7500
        })
        $('#carousel-previous-contests').on('slide.bs.carousel', function (e) {
            var year=$(e.relatedTarget).data('winner-year');
            //$(".previous-year.active").hide(1000,function(){
            $(".previous-year.active").removeClass('active');
            //});
            $("#winner-year-"+year).addClass('active');
        })
    </script>
{% endblock footer_javascript_page %}
