<script type="text/javascript">
    $(document).ready(function () {
        if($("#shareToggle").prop('checked')){
            $("#shareid-box").show();
        }

        // Ta bort fokus från användarmenyn
        $('#dropdown-user').on('hide.bs.dropdown', function () {
            $(this).find(">li").removeClass("active");
            $(this).find("a").blur();
        });

    });

    // Dela min tippning
    $("#shareToggle").change(function() {
        if(this.checked) {
            //Om rutan kryssas i:
            $("#shareid-box").toggle();
            $.post("/update/updateShares.php", {'action': 'create'}, function( data ){
                $("#shareid").val(data);
            });
        } else {
            // Om rutan kryssas ur:
            var returnVal = confirm("Din delningskod kommer att återställas och alla som du delat din delningskod med kommer inte längre kunna se dina tippningar. Vill du fortsätta?");
            if (returnVal==true){
                // Om rutan verkligen kryssades ur
                $("#shareid-box").toggle();
                $.post("/update/updateShares.php", {'action': 'destroy'}, function( data ){
                });
            } else {
                // Om rutan faktiskt inte kryssades ur
                $(this).prop('checked', true);
            }
        }

    });
</script>
