{% load social_user_tags %}

<ul class="nav navbar-right navbar-nav" id="dropdown-user">

    <li class="dropdown">

        {% if not user.is_authenticated %}

            <a href="#"
               class="dropdown-toggle"
               data-toggle="dropdown">
                Logga in <i class="fa fa-sign-in"></i>
            </a>
            <ul class="dropdown-menu" style="padding: 20px 0 20px 0;min-width:250px;">
                <form class="form-inline">

                    <div class="col-xs-12">

                        <a class="btn btn-sm btn-social btn-google"
                           href="{% url 'social:begin' 'google-oauth2' %}"
                           style="width:48%; max-width:130px;">
                            <i class="fa fa-google-plus"></i> Google+
                        </a>

                        <div class="visible-xs-block" style="height:6px;"></div>

                        <a class="btn btn-sm btn-social btn-facebook"
                           href="{% url 'social:begin' 'facebook' %}?next={{ request.get_full_path }}"
                           style="width:48%; max-width:130px;">
                            <i class="fa fa-facebook"></i> Facebook
                        </a>

                    </div>
                </form>
            </ul>

        {% else %}

            <div class="visible-xs"><hr></div>

            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <div class="profile-img"
                     style="background-image:url({% get_social_data user 'photo' %})">
                </div>
                {% if user.first_name %}
                  {{ user.first_name }}
                {% else %}
                  {{ user }}
                {% endif %}
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu" style="padding: 20px 0 20px 0;min-width:250px;">
                <form class="form-inline">
                    <div class="col-xs-12">

                        <a type="button"
                           class="btn btn-default btn-sm"
                           style="float:right"
                           href="{% url 'logout' %}">
                           Logga ut <i class="fa fa-sign-out"></i>
                       </a>
                       <br>
                    </div>
                </form>
            </ul>
        {% endif %}
    </li>
</ul>
