{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Final{% endblock title %}

{% block head_css_page %}
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock head_css_page %}


{% block content %}
    <div id="masthead">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1 style="white-space:nowrap;">{{ final }}
                        <p class="lead">
                            {{ final.event.city_name }}, {{ final.start_time }}
                        </p>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
        <div class="container">
            <div class="row">
                <div id="race-details">
                    <div class="col-sm-5 col-sm-push-6">
                        {% if final.published and final.has_semi_entries %}
                            {% if not final.has_started %}
                                <h5>Tippningen stänger om:</h5>
                                <h4>
                                    <span id="countdown-label" class="label label-primary">
                                        <span id="countdown">Nedräkningen startar...</span>
                                    </span>
                                </h4>
                                <p>Tippa genom att dra bidragen till den placering du tror de kommer få i finalen.</p>
                            {% elif final.has_result %}
                                <h3>Resultatet är klart</h3>
                                <h4>Ditt resultat</h4>
                                <p>Till höger om bidragen ser du vilken slut&shy;placering de fick i finalen.</p>
                                <p>
                                    {% if has_bets %}
                                        Din tippning gav dig {{ points |floatformat }} poäng.
                                    {% else %}
                                        Du tippade inte i finalen och fick därför 0 poäng.
                                    {% endif %}
                                        Totalt fick du {{ total_points |floatformat }} poäng i årets eurovision-tippning.
                                </p>
                            {% elif has_bets and not final.has_result %}
                                <h3>Tippningen är stängd.</h3>
                                <p>Väntar på resultatet från finalen.</p>
                            {% elif not has_bets and not semi.has_result %}
                                <h3>Tippningen är stängd.</h3>
                                <p>Du har inte tippat i finalen.</p>
                            {% endif %}
                        {% elif final.published and not final.has_semi_entries%}
                                <h3>Klara bidrag</h3>
                                <p>Det är ännu inte klart vilka bidrag som har gått vidare från semi&shy;finalerna. Medan du väntar kan du lyssna på de {{ entries |length }} bidrag som redan är klara för final.</p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-6 col-sm-pull-5 nopadding">

                    {% if final.published %}
                        {% if not final.has_semi_entries %}
                            <div class="alert alert-info" role="alert">
                                <i class="fa fa-circle-o-notch fa-spin"></i>
                                Väntar på resultaten från semifinalerna.
                            </div>
                        {% elif final.has_result %}
                            <div class="text-center">
                            <h4>Sortera resultat enligt:</h4>
                            <div class="btn-group" role="group">
                                {% if has_bets %}
                                    <button type="button" class="btn btn-default" onClick="sortBet()">
                                        <i class="fa fa-check-square-o"></i>
                                        Tippning
                                    </button>
                                {% endif %}
                                <button type="button" class="btn btn-default" onClick="sortStartOrder()">
                                    <i class="fa fa-sort-numeric-asc"></i>
                                    Startordning
                                </button>
                                <button type="button" class="btn btn-default" onClick="sortResult()"><i class="fa fa-trophy"></i> Placering</button>
                            </div>
                            <br>
                            <br>
                            </div>
                        {% endif %}
                            {% include "includes/final_lineup.html" %}
                    {% else %}
                        <div class="alert alert-info" role="alert"><i class="fa fa-circle-o-notch fa-spin"></i> Väntar på årets lineup.</div>
                    {% endif %}
                </div>
                <div class="col-sm-6">
                    <div class="modal fade youtube-modal" tabindex="-1" role="dialog" id="YTplayer">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <div id="player"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {% include 'login.html' %}
    {% endif %}
{% endblock content %}

{% block footer_javascript_page %}
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    {% include "scripts/betting.html" %}
    <script src="{% static 'js/youtube.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script type="text/javascript">

      function start_time() {
         return new Date("{{ final.start_time.isoformat }}")
      }

      var $clock = $('#countdown');

      $clock.countdown(start_time(), function(event) {
        $(this).html(event.strftime('%D dagar %H:%M:%S'));
      });

    </script>
{% endblock footer_javascript_page %}
