{% extends "base.html" %}
{% load static %}

{% block title %}Semifinal {{ semi.order }}{% endblock title %}


{% block content %}
    <div id="masthead">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1 style="white-space:nowrap;">{{ semi }}
                        <p class="lead">
                            {{ semi.event.city_name }}, {{ semi.start_time }}
                        </p>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
        <div class="container">
            <div class="row">
                <div id="race-details">
                    <div class="col-sm-5 col-sm-push-6">
                        {% if semi.published %}
                            {% if not semi.has_started %}
                                <h5>Tippningen stänger om:</h5> <h4><span id="countdown-label" class="label label-primary"><span id="countdown">Nedräkningen startar...</span></span></h4>
                                <p>Tippa genom att markera de {{ semi.progression_count }} länder du tror kommer gå vidare till finalen.</p>
                            {% elif semi.has_result %}
                                <h3>Resultatet är klart</h3>
                                <h4>Ditt resultat</h4>
                                <p>Bidragen som inte är över&shy;strukna har gått vidare till finalen.</p>
                                <p>
                                    {% if has_bets %}
                                        Din tippning gav dig {{ points|floatformat }} poäng.
                                    {% else %}
                                        Du tippade inte i denna semi&shy;final och fick därför 0 poäng.
                                    {% endif %}
                                </p>
                            {% elif has_bets and not semi.has_result %}
                                <h3>Tippningen är stängd.</h3>
                                <p>Väntar på resultatet från denna semi&shy;final.</p>
                            {% elif not has_bets and not semi.has_result %}
                                <h3>Tippningen är stängd.</h3>
                                <p>Du har inte tippat i denna semifinal.</p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-6 col-sm-pull-5 nopadding">

                    {% if semi.published %}
                        {% include "includes/semi_lineup.html" %}
                    {% else %}
                        <div class="alert alert-info" role="alert"><i class="fa fa-circle-o-notch fa-spin"></i> Väntar på årets lineup.</div>
                    {% endif %}
                </div>
                <div class="col-sm-6">
                    <div class="modal fade youtube-modal" tabindex="-1" role="dialog" id="YTplayer">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <div id="player"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {% include 'login.html' %}
    {% endif %}
{% endblock content %}

{% block footer_javascript_page %}
    {% include "scripts/betting.html" %}
    <script src="{% static 'js/youtube.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script type="text/javascript">

      function start_time() {
         return new Date("{{ semi.start_time.isoformat }}")
      }

      var $clock = $('#countdown');

      $clock.countdown(start_time(), function(event) {
        $(this).html(event.strftime('%D dagar %H:%M:%S'));
      });

    </script>
{% endblock footer_javascript_page %}
