<script type="text/javascript">

    var selectedClass = 'btn-info';

    $(document).ready(function () {
        {% if semi %}
            countSelected();
        {% endif %}

        {% if final %}
            function finalWidths() {
                // Final widths
                var props = { position: "absolute", visibility: "hidden", display: "block" };
                var maxWidth = 0;
                // Double selector to acomodate button group in delningB
                $( "#country-list-final>li>button, #country-list-final>li>.btn-group>button" ).each(function() {
                    var curWidth = $(this).outerWidth();
                    if(curWidth>maxWidth){
                        maxWidth = curWidth+8;
                    }
                })
                $( "#country-list-final>li>button, #country-list-final>li>.btn-group>button" ).css('width',maxWidth);
                $( "#final-countryname" ).css('width',maxWidth);
            };

            finalWidths();

        {% endif %}

        {% if final and final.has_semi_entries and not final.has_started and not result %}
            if($("#country-list-final").length > 0) {
                $( "#country-list-final" ).disableSelection();
                $(function() {
                    $("#country-list-final").sortable({
                        cancel: '',
                        opacity: 0.6,
                        cursor: 'move',
                        update: function() {
                            sendFinal();
                        },
                        start: function( event, ui ){
                            $(ui.item).parent().find('.ui-sortable-placeholder').css({
                                "display": "block",
                                "height": "20px"
                            });
                        }
                    });
                });
            }
        {% endif %}
    });

    $('*').on({ 'touchstart' : function(){
        if($("#country-list-semi").length > 0 && !$("#country-list-semi").hasClass('touch')) {
            $("#country-list-semi").addClass('touch');
            console.log('touch');
        }
    } });

    {% if final %}

        function sendFinal() {
            var entry_order = [];
            $( "#country-list-final > li > button" ).each(function( i ) {
                entry_order.push(parseInt($(this).attr('id')));
            });
            data = {
              'csrfmiddlewaretoken': '{{ csrf_token }}',
              'final_id': {{ final.id}},
              'entry_order[]': entry_order
            }

            url = '{% url 'tippning:update_finalbet' %}'
            $.post(url, data).done(function(data){
              console.log(data);
            }).error(function(data){
              location.reload();
            })
        }

        function sortResult(){
            $("#country-list-final li").sort(sort_li).appendTo('#country-list-final');
            function sort_li(a, b){
                return (parseInt($(b).attr('data-rank'),10)) < (parseInt($(a).attr('data-rank'),10)) ? 1 : -1;
            }
        }

        function sortBet(){
            $("#country-list-final li").sort(sort_li).appendTo('#country-list-final');
            function sort_li(a, b){
                return (parseInt($(b).attr('data-bet-rank'),10)) < (parseInt($(a).attr('data-bet-rank'),10)) ? 1 : -1;
            }
        }

        function sortStartOrder(){
            $("#country-list-final li").sort(sort_li).appendTo('#country-list-final');
            function sort_li(a, b){
                return (parseInt($(b).attr('data-start-order'),10)) < (parseInt($(a).attr('data-start-order'),10)) ? 1 : -1;
            }
        }

    {% elif semi %}

        function updateSemi(item){
            var bet_id = $(item).data("bet-id");
            if($(item).hasClass(selectedClass)){
                $(item).removeClass(selectedClass);
                sendSemi(bet_id);
            } else {
                var maxNum = {{ semi.progression_count }};
                if($("."+selectedClass).length<maxNum){
                    $(item).addClass(selectedClass);
                    sendSemi(bet_id);
                } else {
                    $( "#select-c" ).fadeOut(200).fadeIn(200);
                    $(item).fadeOut(200).fadeIn(200);
                }
            }
            $(item).blur();
            countSelected();
        };

        function sendSemi(id) {
          data = {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            'semibet_id': id,
          }
          url = '{% url 'tippning:update_semibet' %}'
          $.post(url, data).done(function(data){
            console.log(data);
          }).error(function(data){
            location.reload();
          })
        }

        function countSelected(){
            {% if semi.has_result %}
                var countClass = 'correct';
            {% else %}
            var countClass = selectedClass;
            {% endif %}
            var n = $("."+countClass).length;
            var result = $( "#select-n" ).empty();
            result.append(n);
        }

    {% endif %}

</script>
