{% load static %}

{# HTML5 declaration #}
<!DOCTYPE html>
<html>
    {# Make modifiable head elements #}
    <head>
        <title>{% block title %}Home{% endblock title %} - Eurovisiontippning</title>
        {% block head_favicon %}
            <link rel="icon" type="image/png"
                  href="{% static 'images/favicon.ico' %}">
        {% endblock head_favicon %}
        {% block head_meta %}
            {% block head_meta_charset %}
                <meta http-equiv="Content-Type"
                      content="text/html; charset=utf-8" />
            {% endblock head_meta_charset %}
            {% block head_meta_contentlanguage %}
                <meta http-equiv="Content-Language" value="sv-SV" />
            {% endblock head_meta_contentlanguage %}
            {% block head_meta_viewport %}
                <meta name="viewport"
                      content="width=device-width, initial-scale=1.0">
            {% endblock head_meta_viewport %}
        {% endblock head_meta %}
        {% block head_css %}
            {% block head_css_site %}
                <link href="{% static 'bootstrap-4.0.0-dist/css/bootstrap.min.css' %}"
                      rel="stylesheet" media="screen">
            {% endblock head_css_site %}
            {% block head_css_section %}{% endblock head_css_section %}
            {% block head_css_page %}{% endblock head_css_page %}
        {% endblock head_css %}
        {% block head_js %}
            <script defer src="{% static 'fontawesome-free-5.0.9/svg-with-js/js/fontawesome-all.js' %}"></script>
        {% endblock head_js %}
    </head>
    <body>
        {# Navigation Menu #}
        {% include "includes/navbar.html" %}

        {# The Document Body #}
        <div id="site-wrapper">
            {% block content %}
                if you see this, something is wrong!
            {% endblock content %}
        </div>

        {# The Footer #}
        <nav class="navbar fixed-bottom navbar-light bg-light">
          <span class="navbar-text">
              Navbar text with an inline element
            </span>
        </nav>

    </body>
    {# Set of blocks that can be used to display JavaScript files #}
    {% block footer_javascript %}
        {% block footer_javascript_site %}
            <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
            <script src="{% static 'bootstrap-4.0.0-dist/js/bootstrap.min.js' %}"></script>
        {% endblock footer_javascript_site %}
        {% block footer_javascript_section %}{% endblock footer_javascript_section %}
        {% block footer_javascript_page %}{% endblock footer_javascript_page %}
    {% endblock footer_javascript %}
</html>
