{% load staticfiles %}

{# HTML5 declaration #}
<!DOCTYPE html>
<html>
    {# Make modifiable head elements #}
    <head>
        <title>{% block title %}Hem{% endblock title %} - Eurovisiontippning</title>
        {% block head_favicon %}
            <link rel="icon" type="image/png"
                  href="{% static 'branding/favicon.ico' %}">
        {% endblock head_favicon %}
        {% block head_meta %}
            {% block head_meta_charset %}
                <meta http-equiv="Content-Type"
                      content="text/html; charset=utf-8" />
            {% endblock head_meta_charset %}
            {% block head_meta_contentlanguage %}
                <meta http-equiv="Content-Language" value="sv-SV" />
            {% endblock head_meta_contentlanguage %}
            {% block head_meta_viewport %}
                <meta name="viewport"
                      content="width=device-width, initial-scale=1.0">
            {% endblock head_meta_viewport %}
        {% endblock head_meta %}
        {% block social_meta %}
            <meta name="description=" content="{% block social_description %}Eurovisiontippning.se låter dig tippa hur det går i Eurovision Song Contest.{% endblock social_description %}" />
            <meta name="keywords" content="" />

            <meta name="author" content="Eskil Forsell" />
            <meta name="application-name" content="Eurovisiontippning" />
            <!-- for Facebook -->
            <meta property="og:title" content="Tippa i Eurovision Song Contest" />
            <meta property="og:type" content="website" />
            <meta property="og:site_name" content="Eurovisiontippning"/>
            <meta property="og:url" content="http://eurovisiontippning.se" />
            <meta property="og:description" content="Detta är sidan för dig som tycker det är skoj med Eurovision Song Contest och dessutom gärna visar att du har bättre koll än dina vänner. Tanken är att du inför de tre olika delfinalerna tippar vilka bidrag som kommer gå vidare, eller vilken slutplacering de kommer få. Därefter kan du dela din tippning med dina vänner så att de kan se hur du tippat." />
            <meta property="fb:app_id" content="159568110877754" />
            <meta property="og:locale" content="sv_SE" />
            <meta property="og:image" content="{% static 'branding/et_logo_wide.jpg' %}" />
            <meta property="og:image:type" content="image/jpeg" />
            <meta property="og:image:width" content="1200" />
            <meta property="og:image:height" content="630" />
        {% endblock social_meta %}
        {% block apple_touch %}
            <link rel="apple-touch-icon" sizes="180x180" href="{% static 'branding/apple_touch/apple-touch-icon-180x180.png' %}">
            <link rel="apple-touch-icon" sizes="152x152" href="{% static 'branding/apple_touch/apple-touch-icon-152x152.png' %}">
            <link rel="apple-touch-icon" sizes="144x144" href="{% static 'branding/apple_touch/apple-touch-icon-144x144.png' %}">
            <link rel="apple-touch-icon" sizes="120x120" href="{% static 'branding/apple_touch/apple-touch-icon-120x120.png' %}">
            <link rel="apple-touch-icon" sizes="114x114" href="{% static 'branding/apple_touch/apple-touch-icon-114x114.png' %}">
            <!-- For iPad: -->
            <link rel="apple-touch-icon" sizes="72x72" href="{% static 'branding/apple_touch/apple-touch-icon-72x72.png' %}">
        {% endblock apple_touch %}
        {% block head_css %}
            {% block head_css_site %}
                <link href='http://fonts.googleapis.com/css?family=Josefin+Slab|Maven+Pro' rel='stylesheet' type='text/css'>
                <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
                <link href="{% static 'css/font-awesome-4.3.0/css/font-awesome.min.css' %}" rel="stylesheet">
                <link href="{% static 'css/bootstrap-social.css' %}" rel="stylesheet">
                <link href="{% static 'css/styles.css' %}" rel="stylesheet">
            {% endblock head_css_site %}
            {% block head_css_section %}{% endblock head_css_section %}
            {% block head_css_page %}{% endblock head_css_page %}
        {% endblock head_css %}
        {% block head_js %}
            <script src="https://apis.google.com/js/client:platform.js" async defer></script>
        {% endblock head_js %}
    </head>
    <body>
        {% include "includes/analyticstracking.html" %}

        {# Navigation Menu #}
        {% include "includes/navbar.html" %}

        {# The Document Body #}
        <div id="site-wrapper">
            {% block content %}
                if you see this, something is wrong!
            {% endblock content %}
        </div>

        {# The Footer #}
        {% include "includes/footer.html" %}

    </body>
    {# Set of blocks that can be used to display JavaScript files #}
    {% block footer_javascript %}
        {% block footer_javascript_site %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
            <script src="{% static 'js/social_share.js' %}"></script>
            {% include "includes/ui.html" %}
        {% endblock footer_javascript_site %}
        {% block footer_javascript_section %}{% endblock footer_javascript_section %}
        {% block footer_javascript_page %}{% endblock footer_javascript_page %}
    {% endblock footer_javascript %}
</html>
