{% extends "base.html" %}

{% block title %}Hem{% endblock title %}


{% block content %}

    <div id="masthead">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Eurovision&shy;tippning
                        <p class="lead">Har du bäst finger&shy;topps&shy;känsla i Sverige?</p>
                    </h1>
                </div>
            </div>
        </div>


    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h4>Välkommen till Eurovision&shy;tippning.se!</h4>

                <p>Detta är sidan för dig som tycker det är skoj med Eurovision Song Contest och dessutom gärna visar att du har bättre koll än dina vänner. Tanken är att du inför de tre olika del&shy;finalerna tippar vilka bidrag som kommer gå vidare, eller vilken slut&shy;placering de kommer få. Därefter kan du dela din tippning med dina vänner så att de kan se hur du tippat.</p>

                <p>Idén till sidan har funnits länge och det är inte osannolikt att liknande tippningar hållts varje ESC sedan starten 1956. Denna sida är tänkt att under&shy;lätta tippningen och dessutom göra resultaten jäm&shy;förbara. För att uppnå detta använder vi oss av ett avancerat poäng&shy;system som du kan läsa mer om under avdelningen &ldquo;<a href="/poangsattning/">Poängsättning</a>&rdquo;.</p>
            </div>
            <div class="col-sm-6 col-sm-offset-1">
                {% include "includes/previous_contests.html" %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer_javascript_page %}
    <script>
        $('.carousel-control').click(function(){
            $(this).blur();
        });

        $('.carousel').carousel({
            interval: 7500
        })
        $('#carousel-previous-contests').on('slide.bs.carousel', function (e) {
            var year=$(e.relatedTarget).data('winner-year');
            //$(".previous-year.active").hide(1000,function(){
            $(".previous-year.active").removeClass('active');
            //});
            $("#winner-year-"+year).addClass('active');
        })
    </script>
{% endblock footer_javascript_page %}
