{% extends "base.html" %}

{% block title %}Hem{% endblock title %}


{% block content %}

<div id="masthead">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 style="white-space:nowrap;">Personuppgiftspolicy
                    <p class="lead">
                        Hur använder vi dina personuppgifter?
                    </p>
                </h1>
            </div>
        </div>
    </div>
</div>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h4>Inte alls egentligen.</h4>

                <p>Eurovisiontippning.se går bara ut på att ha kul och göra det enkelt att tippa och tävla mot varandra i ESC. När du loggar in med hjälp av Google eller Facebook är den enda datan som sparas länken till din profilbild och i Googles fall din e-mail (fast den använder vi inte ändå).</p>

            </div>
            <div class="col-sm-5">
                <h4>Ta bort mina Facebook-data</h4>

                <p>Om du vill ta bort kopplingen till Facebook och alla dina Facebook-data gör du det genom att på Facebook gå till Appar och webbplatser och där ta bort kopplingen till Eurovisiontippning.</p>

            </div>
        </div>
    </div>
{% endblock content %}
